
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 340 100% 99%;
    --foreground: 215 14% 16%;
    --card: 0 0% 100%;
    --card-foreground: 215 14% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 14% 16%;
    --primary: 344 79% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 40% 97%;
    --secondary-foreground: 336 44% 23%;
    --muted: 210 20% 98%;
    --muted-foreground: 214 20% 46%;
    --accent: 331 63% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 336 20% 90%;
    --input: 336 20% 90%;
    --ring: 344 79% 56%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
